geosk/static/EDI-NG_client/templates/edi_template.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified"
  vc:minVersion="1.1" attributeFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:element name="template">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="settings"/>
        <xs:element ref="endpointTypes"/>
        <xs:element ref="datasources"/>
        <xs:element maxOccurs="unbounded" ref="group"/>
      </xs:sequence>
    </xs:complexType>
    
    <xs:key name="endpointTypePK">
      <xs:selector xpath="endpointTypes/endpointType"></xs:selector>
      <xs:field xpath="./@xml:id"></xs:field>
    </xs:key>
    <xs:keyref name="codeListEndpointTypeFK" refer="endpointTypePK">
      <xs:selector xpath="datasources/codelist"></xs:selector>
      <xs:field xpath="./@endpointType"></xs:field>
    </xs:keyref>
    <xs:keyref name="singletonEndpointTypeFK" refer="endpointTypePK">
      <xs:selector xpath="datasources/singleton"></xs:selector>
      <xs:field xpath="./@endpointType"></xs:field>
    </xs:keyref>
    <xs:keyref name="sparqlEndpointTypeFK" refer="endpointTypePK">
      <xs:selector xpath="datasources/sparql"></xs:selector>
      <xs:field xpath="./@endpointType"></xs:field>
    </xs:keyref>    
    
    <xs:key name="datasourcePK">
      <xs:selector xpath="datasources/*"></xs:selector>
      <xs:field xpath="./@xml:id"></xs:field>
    </xs:key>
    <xs:keyref name="datasourceFK" refer="datasourcePK">
      <xs:selector xpath="group/element/produces/item"></xs:selector>
      <xs:field xpath="./@datasource"></xs:field>
    </xs:keyref>    
    
    <xs:key name="elementPK">
      <xs:selector xpath="group/element"></xs:selector>
      <xs:field xpath="./@xml:id"></xs:field>
    </xs:key>
    
  </xs:element>
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="userInterfaceLanguage" minOccurs="0"/>
        <xs:element ref="metadataLanguage" minOccurs="0"/>
        <xs:element ref="metadataEndpoint" minOccurs="1"/>
        <xs:element ref="sparqlEndpoint" minOccurs="1"/>
        <xs:element ref="requiresValidation" minOccurs="1"/>
        <xs:element ref="baseDocument" minOccurs="1"/>
        <xs:element ref="xsltChain" minOccurs="1"/>
        <xs:element ref="codelistQuery" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userInterfaceLanguage">
    <xs:complexType>
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadataLanguage">
    <xs:complexType>
      <xs:attribute name="selectionItem" use="required" type="xs:IDREF"/>
      <!-- <xs:attribute ref="xml:lang" use="required"/> -->
    </xs:complexType>
  </xs:element>
  <xs:element name="metadataEndpoint" type="xs:anyURI"/>
  <xs:element name="sparqlEndpoint" type="xs:anyURI"/>
  <xs:element name="requiresValidation" type="xs:boolean"/>
  <xs:element name="baseDocument" type="xs:string"/>
  <xs:element name="xsltChain">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="xslt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="xslt" type="xs:anyURI"/>
  <xs:element name="codelistQuery" type="xs:string"/>
  <xs:element name="endpointTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="endpointType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="endpointType">
    <xs:complexType>
      <xs:sequence>
        <!-- <xs:element name="id"  minOccurs="0"></xs:element> -->
        <xs:element ref="parameters"/>
      </xs:sequence>
      <xs:attribute ref="xml:id" use="required"/>
      <xs:attribute name="method" use="required" type="xs:NCName"/>
      <xs:attribute name="queryParameter" use="required" type="xs:NCName"/>
    </xs:complexType>
    <!-- 
    <xs:key name="endpointTypeID">
      <xs:selector xpath="endpointType/id" />
      <xs:field xpath="."></xs:field>
    </xs:key>
-->
  </xs:element>
  <xs:element name="parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="parameter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameter">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="datasources">
    <xs:complexType>
      <xs:all>
        <xs:element maxOccurs="unbounded" ref="codelist"/>
        <xs:element maxOccurs="unbounded" ref="sparql"/>
        <xs:element maxOccurs="unbounded" ref="singleton"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="codelist">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="uri"/>
        <xs:element ref="url" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="endpointType" use="required" type="xs:string"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="uri" type="xs:anyURI"/>
  <xs:element name="sparql">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="query"/>
        <xs:element ref="url" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="endpointType" use="required" type="xs:string"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="singleton">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="query"/>
        <xs:element ref="url" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="endpointType" use="required" type="xs:string"/>
      <xs:attribute name="triggerItem" use="optional" type="xs:NCName"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="help"/>
          <xs:element ref="label"/>
          <xs:element maxOccurs="unbounded" ref="element"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
    <xs:key name="ID">
      <xs:selector xpath="element"/>
      <xs:field xpath="@xml:id"/>
    </xs:key>
    <xs:keyref name="IDREF" refer="ID">
      <xs:selector xpath="element"/>
      <xs:field xpath="@alternativeTo"/>
    </xs:keyref>
    
  </xs:element>
  <xs:element name="element">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="help"/>
          <xs:element ref="label"/>
          <xs:element ref="hasRoot"/>
        </xs:choice>
        <xs:element ref="produces"/>
      </xs:sequence>
      <xs:attribute name="isMandatory" use="required" type="xs:boolean"/>
      <xs:attribute name="isMultiple" use="required" type="xs:boolean"/>
      <xs:attribute ref="xml:id" use="required"/>
      <xs:attribute name="alternativeTo" use="optional" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasRoot" type="xs:string"/>
  <xs:element name="produces">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="item"/>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="itemPK">
      <xs:selector xpath="item"></xs:selector>
      <xs:field xpath="./@hasIndex"></xs:field>
    </xs:key>
    
  </xs:element>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="help" minOccurs="0"/>
          <xs:element ref="label" minOccurs="0"/>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="hasPath" minOccurs="0"/>
          <xs:group ref="boundingBox"/>
          <xs:group ref="dateRange"/>
          <xs:element ref="defaultValue" minOccurs="0"/>
          <xs:element ref="hasValue" minOccurs="0"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="show" use="optional"/>
      <xs:attribute name="datasource" type="xs:string"/>
      <xs:attribute name="hasDatatype" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="codelist" />
            <xs:enumeration value="ref" />
            <xs:enumeration value="autoCompletion" />
            <xs:enumeration value="select" />
            <xs:enumeration value="URI" />
            <xs:enumeration value="date" />
            <xs:enumeration value="text" />
            <xs:enumeration value="int" />
            <xs:enumeration value="boundingBox" />
            <xs:enumeration value="dateRange" />
            <xs:enumeration value="autonumber" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="URI" />
            <xs:enumeration value="URL" />
            <xs:enumeration value="function" />
            <xs:enumeration value="sensorID" />
            <xs:enumeration value="string" />
            <xs:enumeration value="boolean" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="hasIndex" use="required" type="xs:integer"/>
      <xs:attribute ref="xml:id" use="required"/>
      <xs:attribute name="isFixed" use="required" type="xs:boolean"/>
      <xs:attribute name="field" use="optional"/>
      <xs:attribute name="outIndex" type="xs:integer"/>
      <xs:attribute name="isLanguageNeutral"></xs:attribute>
      <xs:attribute name="queryStringParameter"></xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasPath" type="xs:anyURI"/>
  <xs:element name="defaultValue" type="xs:anyType"/>
  <xs:element name="field" type="xs:NCName"/>
  <xs:element name="hasValue" type="xs:string"/>
  <xs:element name="url" type="xs:anyURI"/>
  <xs:element name="query" type="xs:string"/>

  <xs:group name="boundingBox">
    <xs:sequence>
      <xs:element name="westLongitude" type="geoCoord" minOccurs="1"/>
      <xs:element name="eastLongitude" type="geoCoord" minOccurs="1"/>
      <xs:element name="northLatitude" type="geoCoord" minOccurs="1"/>
      <xs:element name="southLatitude" type="geoCoord" minOccurs="1"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="dateRange">
    <xs:sequence>
      <xs:element name="start" minOccurs="1"/>
      <xs:element name="end" minOccurs="1"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="geoCoord">
    <xs:sequence maxOccurs="unbounded">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="help" minOccurs="0"/>
        <xs:element ref="label" minOccurs="0"/>
        <xs:element ref="hasPath" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="outIndex" use="optional" type="xs:integer"/>
    <xs:attribute name="queryStringParameter" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:sequence maxOccurs="unbounded">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="help" minOccurs="0"/>
        <xs:element ref="label" minOccurs="0"/>
        <xs:element ref="hasPath" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="outIndex" use="optional" type="xs:integer"/>
    <xs:attribute name="queryStringParameter" use="optional" type="xs:string"/>
  </xs:complexType>

  <xs:element name="label">
    <xs:complexType mixed="true">
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="help">
    <xs:complexType mixed="true">
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
